apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: localist

resources:
  - ../../base

patches:
  - path: deployment-patches.yaml

replicas:
  - name: backend
    count: 1

images:
  - name: k3d-registry.localhost:5555/localist-backend
    newName: k3d-registry.localhost:5555/localist-backend
    newTag: latest
